<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Pages', admin_pages_path %>

<h1>Pages:</h1>
<h2> Pages </h2>

<%= render partial: "shared/admin_render", locals: { arrayi: @pages} %>