<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admins_path %>

<h1>Administration</h1>

<ul>
	<li><%= link_to "Contenu du site", pages_path %></li>
	<li><%= link_to "News", news_path %></li>
</ul>