@charset "utf-8";
/* CSS Document */

@import 'variables.css.scss';

/* ==================== Global body ====================*/

* {
	margin: 0;
	padding: 0
}

body {
	//width: 980px;
	margin: auto;
	font-family: Ubuntu, Tahoma, Geneva, sans-serif;
	font-size: 0.9em;
	line-height: 1.3em;
	font-weight: 400;
	background: url(/assets/layout/way_background.jpeg) no-repeat center top #000000;
}

	 p {
		line-height: 22px;
	}

	a {
		text-decoration: none;
		color: #8d0000
	}

	img {
		border: none;
	}

	header {
		height: 50px;
		margin-bottom: 10px;
	}

	nav {
		margin-left: 8%;
	// chrome/firefox:8% safari:5% margin-bottom:10%
	}

	ol, ul {
		list-style: none;
	}

	.clear {
		clear: both
	}

	footer {
		margin-top: 2em;
		margin-bottom: 2em;
		padding-top: 1em;
		width: 100%;
		height: 2em;
		text-align: center;
		background: #E4E4E4;
		border-radius: 10px
	}


/* ==================== Global container ====================*/

div#container {
	margin: 13em auto;
	padding-left: 20px;
	padding-right: 20px;
	background: #ffffff;
	border-radius: 10px;
	width: 940px;
}

	#container .nice_pic {
		-moz-box-shadow: 0px 0px 6px #000;
		-webkit-box-shadow: 0px 0px 6px #000;
		box-shadow: 0px 0px 6px #000;
		border-radius: 3px;
		border: 2px solid $l-grey;
		padding: 4px;
		background: #ddd;
	}

	#container h1 {
		position: absolute;
		left: -9999px;
	}

	#container h1.index {
		position: static;
		text-align: center;
		font-size: 24px;
	}

	#container h2 {
		color: $title_color;
	}

	#container h3 {
		color: $title_color;
	}

	#container h2 {
		margin-bottom: 1em;
		padding-bottom: 0.3em;
		text-align: center;
		width: 100%;
		border-bottom: 2px solid #000000
	}

	#container h2.home {
		text-align: right
	}


/* ==================== INDEX event ====================*/

	#container div.nextevent {
		margin-left: 1.2em;
	}

		#container div.nextevent p {
			margin-bottom: .5em
		}

		#container div.nextevent .img {
			float: right;
			margin: 0 10px 0 10px;
		}

		#container div.nextevent .txt {
			float: left;
		}

		#container div.nextevent h4 {
			font-size: 17px;
		}

			#container div.nextevent h4 img {
				
			}

			#container div.nextevent h4 sup {
				font-size: 10px;
				margin-left: 10px;
			}

		#container div.nextevent .icns {
			display: inline-block;
			margin-right: 10px;
			color: $l-grey;
		}


/* ==================== INDEX presentation ====================*/

	#container #presentation {
		width: 100%;
		margin: 0 auto;
	}

		#container #presentation h3 {
			margin-top: 20px;
			margin-bottom: 1em;
			text-align: center;
			width: 100%;
			border-bottom: 2px solid #000000
		}

		#container #presentation .img {
			width: 100%;
			text-align: center;
		}

		#container #presentation article.left {
			display: table-cell;
			min-width: 550px;
			font-size: 15px;
		}

			#container #presentation article.left p {
				color: $l-grey;
				padding-bottom: 8px;
			}

		#container #presentation article.right {
			width: 100%;
			display: table-cell;
			margin: auto;
			vertical-align: top;
			padding: 0 10px 0 0;
		}

			#container #presentation article.right img {
				margin-top: 10px;
			}

			#container #presentation article.right h3 {
				text-align: right;
			}

			#container #presentation article.right p {
				text-align: center;
				color: $l-grey;
			}

			#container #presentation article.right .home_galery .gallery_txt {
				font-weight: bold;
			}	

		#container #presentation article.middle {
			display: table-cell;
			min-width: 30px;
		}


/* ==================== INDEX news ====================*/

	#container #news {

	}

		#container div#news article h3 {
			margin-bottom: 0.5em
		}

		#container div#news article div {
			width: 100%;
			padding: 0.5em;
			border-radius: 10px;
			background: #e9e9e9;
		}


/* ==================== GALLERY show ====================*/	

	#container #gallery_show {
		background-color: #222;
		color: #bbb;
	}

	#container #gallery_show .description {
		padding: 20px;
	}

		#container #gallery_show .photos {
			margin: auto;
			text-align: center;
			width: 100%;
		}

/* ==================== EVENT type soirées ====================*/		

		#container #type_soirees {

		}

			#container #type_soirees h4 {
				margin-top: 30px;
			}

			#container #type_soirees div {
				display: table-row;
			}

			#container#type_soirees div p {
				color: $l-grey;
			}

			#container #type_soirees a img {
				float: right;
			}

	#container .editor #page_content {
		margin: 40px 40px 40px 40px;
	}


/* ==================== Session login ====================*/

	#container .login {
		width: 300px;
		height: 400px;
		margin: auto;
	}

		#container .login form {
			width: 300px;
			margin: 0 auto;
			position: relative;
			z-index:5;
			
			background: #f3f3f3;
			border: 1px solid #fff;
			border-radius: 5px;
			
			box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		}

			#container .login form input {
				width: 188px;
				padding: 10px 25px;
				
				font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
				font-weight: 400;
				font-size: 14px;
				color: #9d9e9e;
				text-shadow: 1px 1px 0 rgba(255,255,255,1.0);
				
				background: #fff;
				border: 1px solid #fff;
				border-radius: 5px;
				
				box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
				-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
				-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
			}

				#container .login form input:hover {
					background: #dfe9ec;
					color: #414848;
				}

				#container .login form input:focus {
					background: #dfe9ec;
					color: #414848;
					
					box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
					-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
					-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
				}

			#container .login form .footer {
				padding: 25px 30px 40px 30px;
				overflow: auto;
				
				background: #d4dedf;
				border-top: 1px solid #fff;
				
				box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
				-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
				-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
			}

				#container .login form .footer .button {
					float:right;
					padding: 11px 25px;
					
					font-family: 'Bree Serif', serif;
					font-weight: 300;
					font-size: 18px;
					color: #fff;
					text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
					
					background: #56c2e1;
					border: 1px solid #46b3d3;
					border-radius: 5px;
					cursor: pointer;
					
					box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
					-moz-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
					-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);
				}

					#container .login form .footer .button:hover {
						background: #3f9db8;
						border: 1px solid rgba(255,255,255,0.75);
						
						box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
						-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
						-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
					}

					#container .login form .footer .button:focus {
						position: relative;
						bottom: -1px;
						
						background: #56c2e1;
						
						box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
						-moz-box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
						-webkit-box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
					}


/* ==================== IE popup ====================*/
/* ================= */

/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

	#container .alert-popup{
		display:none;
		background: #333;
		padding: 10px; 	
		border: 2px solid #ddd;
		float: left;
		font-size: 1.2em;
		position: fixed;
		top: 50%; left: 50%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999; /* CSS3 */
	        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
		border-radius:3px 3px 3px 3px;
	        -moz-border-radius: 3px; /* Firefox */
	        -webkit-border-radius: 3px; /* Safari, Chrome */
	}

		#container .alert-popup img.btn_close {
			float: right; 
			margin: -28px -28px 0 0;
		}

		#container .alert-popup fieldset { 
			border:none; 
		}

		#container .alert-popup form.signin p, form.signin span { 
			color:#999; 
			font-size:11px; 
			line-height:18px;
		} 


/* ==================== Popup 've been redirected ====================*/
/* ================= */

	#container #message {
	    position:fixed;
	    bottom:0px;
	    left:0px;
	    width:100%;
	    z-index:105;
	    text-align:center;
	    color:white;
	    padding:10px 0px 10px 0px;
	    background-color:#8181a1;
	    font-weight: lighter;
	}

		#container #message span {
		    text-align: center;
		    width: 95%;
		    float:left;
		}

		#container #message .close-notify {
		    white-space: nowrap;
		    float:right;
		    margin-right:10px;
		    color:#fff;
		    text-decoration:none;
		    padding-left:3px;
		    padding-right:3px;
		    font-weight: bold;
		    font-size: 15px;
		    border: 1px solid #aaa;
		    border-radius: 6px;
		    background: #222;
		}

			#container #message .close-notify:hover {
				background: #aaa;
			}

			#container #message .close-notify a {
			    color: #fff;
			}

