@charset "utf-8";
/* CSS Document */

@import 'variables.css.scss';

#nav-container {
	width: 100%;
	background: #222;
	position: relative;
	top: 0px;
	position: fixed;
}

	#nav-container nav {
		width: 100%;
		margin: auto;
	}

	#nav-container nav ul {
		text-align: center;
	}

	#nav-container nav ul li {
		display: inline; /* Instead of insane float: left */
		list-style: none;
		position: relative; /* For submenu */
	}

	#nav-container nav ul li a {
		text-decoration: none;
		font-size: 1em;
		font-weight: lighter;
		display: inline-block;
		width: 5em;
		text-align: center;
		padding: .5em .7em;
		border-radius: 1px;
		color: white;
		background: #2a2a2a;
		min-width: 90px;
	}

	#nav-container nav ul li a:hover,
	#nav-container nav ul li a.selected{
		background: $color_menu_blue;
		color: #fff;
	}

	#nav-container nav ul li ul {
		position: absolute;
		left: 0;
		display: none;
	}

	#nav-container nav ul li ul a {
		display: block;
	}

	#nav-container nav ul li.submenu a.not_link {
		cursor: default;
	}