@charset "utf-8";
/* CSS Document */

#nav-container {
	width: 100%;
	background: #222;
	position: relative;
	top: 0px;
	position: fixed;
}

	#nav-container nav {
		width: 100%;
		margin: auto;
	}

	#nav-container nav ul {
		text-align: center;
	}

	#nav-container nav ul li {
		display: inline;
		list-style: none;
	}

	#nav-container nav ul li a {
		text-decoration: none;
		font-size: 1em;
		font-weight: lighter;
		display: inline-block;
		width: 5em;
		text-align: center;
		padding: .5em .7em;
		border-radius: 1px;
		color: white;
		background: #2a2a2a;
	}

	#nav-container nav ul li a:hover,
	#nav-container nav ul li a.selected{
		background: #40bfe8;
		color: #fff;
	}