<tr>
		<% obj.attributes.each do |attr_name, attr_value| %>
		<td><%= attr_value %>
	<% end %>
	<td><%= link_to "Modifier", edit_admin_event_path(obj) %></td>
	<td><%= link_to "Supprimer", admin_event_path(obj), method: :delete, confirm: "Etes-vous sûr de vouloir supprimser cet événement?" %></td>
		
</tr>