
<%= form_for Image.new, url: admin_images_path do |f| %>
<table>
	<tr>
		<td>Ajouter une image à la bibliothèque</td>
	</td>
	<tr>
		<td>Image</td>
		<td><%= f.label :image %></td>
	</tr>
	<tr>
		<td>Choisir une image</td>
		<td><%= f.file_field :image %></td>
	</tr>
	<tr>
		<td>Téléverser</td>
		<td><%= f.submit "Téléverser l'image" , class: "w8-button red" %></td>
	</tr>
</table>
<% end %>