<% provide(:title, 'Contact Groupe de jeunes chrétien évangélique de Bulle') %>

<h2 style="text-align:center" id="page_title"><%= raw @contact.title %></h2>

<article class="editor">
	<div id="page_content">
		<p>
			<%=raw @contact.content %>
		</p>
	</div>
</article>

<div class="clear"></div>