<% provide(:title, 'Index') %>
<% provide(:h1_title, 'Bienvenue sur le site du <strong>groupe de jeunes</strong> <strong>WAY</strong> à Bulle') %>


<h1 class="index">Bienvenue sur le site du <strong>groupe de jeunes</strong> <strong>WAY</strong> à Bulle</h1>
<article>
	
</article>

<div class="clear"></div>

<div id="presentation">

	<article class="left">   
	
  </article>
  <p class="clear"></p>

</div>

<div class="clear"></div>

<div id="news">

</div>
<div class="clear"></div>

