<% @title = 'Acceuil' %>

<h2><%= @presentation.title %></h2>

<p>
	<%= @presentation.content %>
</p>

<h2>News</h2>

<% @news.each do |new| %>

	<h3><%= new.title %></h3>
	<p><%= new.content %></p>

<% end %>