<% @title = 'Liens' %>

<h1>Liens sites chrétiens Groupe de jeunes WAY Bulle</h1>

<%-# ==========- HEADER -========== -%>
<%= render 'layouts/header' %>

<h2 style="text-align:center"><%= @links.title %></h2>

<article>
		<p>
			<%=raw @links.content %>
		</p>
</article>
<div class="clear"></div>