<% provide(:title, 'Liens') %>
<% provide(:h1_title, 'Liens sites chrétiens Groupe de jeunes WAY Bulle') %>


<h2 style="text-align:center" id="page_title" data-mercury="full"><%= raw @links.title %></h2>

<article class="editor"><div id="page_content" data-mercury="full">
		<p>
			<%=raw @links.content %>
		</p>
</div></article>

<%= render 'editor', page: @links %>

<div class="clear"></div>