<% provide(:title, 'Vision') %>
<% provide(:h1_title, 'Présentation et vision Amitié Dynamisme Evangélisation Groupe de jeunes WAY Bulle') %>


<h2 style="text-align:center"><%= @vision.title %></h2>

<article>
	<p>
		<%=raw @vision.content %>
	</p>
</article>
<div class="clear"></div>