<% provide(:title, 'Présentation Groupe de jeunes chrétien évangélique de Bulle') %>


<h2 style="text-align:center" id="page_title"><%= raw @vision.title %></h2>

<article ><div id="page_content">
		<%=raw @vision.content %>
</div></article>

<div class="clear"></div>