<% @title = 'Vision' %>

<h1>Présentation et vision Amitié Dynamisme Evangélisation Groupe de jeunes WAY Bulle</h1>

<%-# ==========- HEADER -========== -%>
<%= render 'layouts/header' %>

<h2 style="text-align:center"><%= @vision.title %></h2>

<article>
	<p>
		<%=raw @vision.content %>
	</p>
</article>
<div class="clear"></div>