<% provide(:title, 'Présentation GDJ Bulle Chrétien') %>
<% provide(:h1_title, 'Présentation et vision Amitié Dynamisme Evangélisation Groupe de jeunes WAY Bulle') %>


<h2 style="text-align:center" id="page_title"><%= raw @vision.title %></h2>

<article ><div id="page_content">
		<%=raw @vision.content %>
</div></article>

<div class="clear"></div>