<% provide(:title, 'Organisation et vision du groupe louange') %>


<h2 style="text-align:center" id="page_title"><%= raw @worship.title %></h2>

<article ><div id="page_content">
		<%=raw @worship.content %>
</div></article>
<div class="clear"></div>