<% provide(:title, "Activités") %>
<% provide(:h1_title, "Activités chrétiens") %>

<% @projects.each do |project| %>

<h2 style="text-align:center;" id="project_name" data-mercury="full"><span style="position:relative"><span style="position:absolute; top:-60px;" id="<%= project.name %>"></span></span><%=raw project.name %></h2>

<article>
	<p>
		<div id="project_content" data-mercury="full">
		<%=raw project.content %>
		</div>
	</p>
</article>

<% if signed_in? %>
<p style="margin-top:20px">
	<%= link_to "Editer la page", "/editor" + project_path(project.slug), id: "edit_link", data: { save_url: mercury_update_admin_project_path(project.id) }, class: "w8-button l-blue" %>
</p>

<% end %>

<% end %>

<script>
  $(document).ready(function() {
    $(".fancybox-button").fancybox({
      prevEffect    : 'none',
      nextEffect    : 'none',
      closeBtn    : false,
      helpers   : {
        title : { type : 'inside' },
        buttons : {}
      }
    });
  });
</script>