<% provide(:title, "Activités") %>
<% provide(:h1_title, "Activités chrétiens") %>

<% @projects.each do |project| %>

  <h2 style="text-align:center;" id="project_name"><span style="position:relative"><span style="position:absolute; top:-60px;" id="<%= project.name %>"></span></span><%=raw project.name %></h2>

  <article>
  	<p>
  		<div id="project_content" data-mercury="full">
  		  <%=raw project.content %>
  		</div>
  	</p>
  </article>

<% end %>