<% provide(:title, 'Activités Groupe de jeunes chrétien évangélique de Bulle') %>

<% @projects.each do |project| %>

  <h1 style="text-align:center;" id="project_name"><span style="position:relative"><span style="position:absolute; top:-60px;" id="<%= project.name %>"></span></span><%=raw project.name %></h1>

  <article>
  	<p>
  		<div id="project_content">
  		  <%=raw project.content %>
  		</div>
  	</p>
  </article>

<% end %>