<p style="margin-top:200px;font-size:15px; padding:60px 10px; text-align:center; box-shadow: -1px -1px 20px #ccc;"><span style="color:red;font-size:35px; font-weight:bold">Oh... </span> Erreur interne. Merci de nous reporter l'erreur.</p>
<br/><br/>
<p>erreur 500</p>
