<p style="margin-top:200px;font-size:15px; padding:60px 10px; text-align:center; box-shadow: -1px -1px 20px #ccc;"><span style="color:red;font-size:35px; font-weight:bold">Ooooooooh... </span> Il semblerait que tu cherches une page qui n'existe pas. (ou peut-être seulement dans tes reves..)</p>
<br/><br/>
<p>404 - <%= @not_found_path %></p>
