<h2>Inscriptions</h2>

<div id="admin_table">
  <div class="table_buttons">
    <a class="delete" href="#" data-method="delete" rel="nofollow" data-confirm="Etes-vous sûr de vouloir supprimer cette entrée ?">Supprimer</a>
    <%= link_to "Réinitialiser", reset_admin_forms_path, method: :post, class: "add", data: {confirm: "Etes-vous sûr de vouloir supprimer TOUTES les entrées ?"} %>
  </div>

	<%= @table.present %>
</div>