<% @title = @gallery.name %>

<h1><%= @gallery.name %></h1>
<h2><%= @gallery.description %></h2>

<% @gallery.paintings.each do |painting| %>
	
	<a class="fancybox-buttons" data-fancybox-group="button" href="<%= painting.image_url %>"><img src="<%= painting.image_url %>" alt="" /></a>

<% end %>