table{
	margin: auto;
	margin-top: 40px;

}

form {
	width: 100%;
}



table th {
	border-radius: 5px;
	padding: 5px;
}

table td {
	vertical-align: top;
	padding: 5px;
}

table tr {
	
}

table caption {
	color: orange;
	font-weight: bold;
}