table{
	margin: auto;
	margin-top: 40px;

}

form {
	width: 100%;
}

table th {
	border-radius: 5px;
	padding: 5px;
}

table td {
	vertical-align: top;
	padding: 5px;
}

table tr {
	
}

table caption {
	color: orange;
	font-weight: bold;
}

table .odd {
	background: #e9eaff;
}

table .even {
	background: #dcdeff
}

.pagination ul li {
	float: left;
	list-style-type: none;
	margin: 5px;
}

.pagination ul {
}

form {

}

.bar {
    height: 18px;
    background: green;
    width: 500px;
}