@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0
}
body {
	width: 980px;
	margin: auto;
	font-family: Ubuntu, Tahoma, Geneva, sans-serif;
	font-size: 0.9em;
	line-height: 1.3em;
	font-weight: 400;
	background: url(layout/way_background.jpeg) no-repeat center top #000000
}
a {
	text-decoration: none;
	color: #8d0000
}
img {
	border: none;
}
div#container {
	margin-top: 17em;
	margin-left: 2px;
	padding-left: 20px;
	padding-right: 20px;
	background: #ffffff;
	border-radius: 10px
}
h1 {
	position: absolute;
	left: -9999px;
}
h1.index {
	position: static;
	text-align: center;
	margin-bottom: 1em;
}
h2, h3 {
	color: #C90
}
h2, div#text-fb article h3 {
	margin-bottom: 1em;
	padding-bottom: 0.3em;
	text-align: center;
	width: 100%;
	border-bottom: 2px solid #000000
}
h2.home {
	text-align: right
}
div.nextevent {
	margin-left: 1.2em;
}
h4 {
	margin-bottom: 2em;
/*	margin-left:14.6em;*/
	text-decoration: underline
}
p.nextevent {
/*	float:left;*/
	margin-bottom: 2em
}
p.nextevent img {
	float: left;
	margin-right: 2em
}
article div.docs {
	margin-top: -3em;
	margin-left: 16em
}
article div.docs p {
	margin-left: 5em;
	margin-top: -3.5em;
	font-weight: 300
}
article div.docs p span {
	font-weight: bold
}
div#text-fb div.fb {
	float: left;
	margin-top: 2em
}
div#text-fb article h3 {
	text-align: left
}
img.fb {
	margin-top: 2em;
	margin-left: 1em
}
p.pict {
	margin-top: 1em
}
div#news-events article h3 {
	margin-bottom: 0.5em
}
div#news-events article div {
	width: 100%;
	padding: 0.5em;
	border-radius: 10px;
	background: #e9e9e9;
}
header {
	height: 50px;
	margin-bottom: 10px;
}
nav {
	margin-left: 8%;
// chrome/firefox:8% safari:5% margin-bottom:10%
}
div#text-fb {
	margin-top: 2em
}
div#text-fb article, div#news-events article {
	margin: 1em;
	float: left;
	width: 45%
}
div.picsLoop {
	width: 156px;
	height: 110px;
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	box-shadow: 1px 1px 12px #C90;
	border-radius: 9px;
}
div.picsLoop img {
	height: 90px;
	padding: 10px;
	top: 0;
	left: 0;
	border-radius: 9px
}
/*
div.pixloop p{
	margin-top:1em;
	text-align:center
}

div.pixloop table tr td{
	font-weight:bold;
	text-align:center
}
*/
div.types-soirees{
	margin-left:4.5em;
}
article.medias p {
	width: 50%;
	margin-left: auto;
	margin-right: auto
}
p.form input#name{
	width:15em
}
p.form textarea#message{
	width:30em
}
table tr td.title{
	font-decoration:underline;
	margin-bottom:2em
}
ul.link {
	margin-left: 3em
}
div#contact {
	font-size: 16px;
	margin-left: 10em
}
div#contact-text {
	margin-left: 3em
}
div#contact p {
	margin: 1em 0em
}
.address {
	font-weight: bold;
	font-size: 18px;
	padding: 0.3em;
	width: 30%;
	background: #eeeeee;
	border: 0px;
	border-radius: 10px
}
.contact {
	font-weight: bolder;
	border-bottom: 1px solid red;
	width: 200px;
	font-size: 18px
}
.data {
	font-weight: bold;
	font-size: 18px
}
.bubble {
	color: transparent;
	border: 5px solid transparent;
	background-color: transparent;
	position: absolute
}
.bubble:hover {
	color: #000000;
	border: 3px solid red;
	background-color: #CCCCCC;
	position: absolute
}
#contact, #mapcontainer {
	margin-left: 50px
}
.hidden {
	color: transparent
}
.hidden:hover {
	color: #000000
}
.clear {
	clear: both
}
p.text {
	background: #eee;
	border: 0px;
	border-radius: 10px;
	margin-bottom: 2em;
	padding: 0.3em
}
footer {
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 1em;
	width: 100%;
	height: 2em;
	text-align: center;
	background: #E4E4E4;
	border-radius: 10px
}

