@charset "UTF-8";
/* CSS Document */



#gallery {

}

	#gallery .left {
		width: 469px;
		text-align: right;
	}

	#gallery .right {
		width: 469px;
		text-align: left;
	}

	#gallery .text {
		width: 100%;
		padding: 15px;
	}

	#gallery .text .description {
		color: #555; 
		font-size:12px;
	}

	#gallery .image_container {

	}

		#gallery .image_container p {
			text-align: center;
		}

		#gallery .image_container p img {
			
		}

