<h2>Images</h2>

<%= link_to "Ajouter des images", new_admin_image_path %>

<% @images.each do |image| %>
	<%= image_tag image.image.url %>
	<%= link_to "X", admin_image_path(image), method: :delete, confirm: "Supprimer cette image ?" %>
  <a class="url_link" data-url="<%= image.image_url %>" href="#">Lien</a>
<% end %>

